// 颜色
$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$color-secondary-light: #FFC107;
$color-secondary-dark: #FFA000;

$color-tertiary-light:#03A9F4;
$color-tertiary-dark: #0288D1;

$color-grey-light-1: #f1f7f1;
$color-grey-light-2: #eee;

$color-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// 字体
$default-font-size: 1.6rem;
$font-size-big: 1.8rem;

// 边框
$border-radius-small: 2px;
$border-radius-medium: 4px;
$bordr-radius-big: 8px;


// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 6rem;