.feature-box {
  padding: 2.5rem;
  background-color: rgba($color-white, .8);
  text-align: center;
  font-size: 1.5rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
  border-radius: 2px;
  transition: transform .3s;
  &__icon {
    font-size: 5rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}