*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // 定义 1rem 的值
  font-size: 62.5%; // 1rem = 10px 10/16 = 62.5%

  @include respond(tab-land) { // width < 1200px
    font-size: 56.25%; // 1rem = 9px 9/16 = 56.25%
  }

  @include respond(tab-port) { // width < 900px
    font-size: 50%; // 1rem = 8px 8/16 = 50%
  }
  
  @include respond(big-desktop) { // width > 1800px
    font-size: 75%; // 1rem = 12px 12/16 = 75%
  }

}

body {
  box-sizing: border-box;
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}